$myFont: Helvetica,
sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$border-radius: 15px;
// $background: #26A958;
$background: #FF0000;
// $header-Border-raddius-top-left: 15px;
$header-Border-raddius-top-left: 5px;
// $header-Border-raddius-top-right: 15px;
$header-Border-raddius-top-right: 5px;
$myWidth: 680px;
// $border-radius: 15px;
$border-radius: 5px;
// $background: #26A958;
$background: #FF0000;
// $secondary_bg: #63DA0A;
$secondary_bg: #FF2E2E;
$report-danger: #E8345F;
$report-warning: #F9BB14;
$report-primary: #3765AE;
$report-success: #26A958;
$color:#26A958;
$commercial-clr: #FF2E2E