$myFont: Helvetica,
sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 680px;
$background: #FF0000;
$background-secondary: #ce9898;
$header-Border-raddius-top-left: 5px;
$header-Border-raddius-top-right: 5px;
$myWidth: 680px;
$border-radius: 5px;
$background: #FF0000;
$secondary_bg: #FF2E2E;
$report-danger: #E8345F;
$report-warning: #F9BB14;
$report-primary: #FF5C5C;
$report-success: #26A958;
$color:#FF8A8A;
$commercial-clr: #FF2E2E;
$gradient_left_color: #FF0000;
$gradient_right_color: #7928CA;
$custom-bg-success: #1DA176;
$custom-bg-waring: #ffcc00;
$custom-bg-red: #FF0000;
$custom-text-color: #8392AB;
$border-radius: 3px;
$card-border-radius: 15px