.toast-message {
    background: #ffffff;
    color: #1DA176;
    font-size: 18px;
    width: 24vw;
    padding: 0.6em;
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
}